
<h2 class="text-justify">User Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control w-50"
      id="email"
      placeholder="Enter email"
      formControlName="email">
      <span class='text-danger' *ngIf='loginForm.controls.email.invalid && loginForm.controls.email.touched'>This field cannot be left empty!</span>
  </div>
  <div class="form-group">
    <label for="messageBody">Password</label>
    <input
      type="password"
      class="form-control w-50"
      id="messageBody"
      placeholder="Enter password"
      formControlName="password">
    <span class='text-danger' *ngIf='loginForm.controls.password.invalid && loginForm.controls.password.touched'>This field cannot be left empty!</span>
  </div>
  <h6 *ngIf="!loginForm.valid && loginForm.touched" class="help-block wrong-input">You must fill in the form correctly</h6>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
<div *ngIf="isErrorOnLogin">
  <span class="text-center" [ngClass]=" isErrorOnLogin ? 'text-danger' : 'text-success'">{{infoMessage}}</span>
</div>



