<h2>Messages List</h2>
<input type="number" class="form-control" placeholder="Input User ID..." #search>

<button class="btn btn-info mr-3 mt-3" type="button" (click)='searchItems(search)'>
  Search<i class="fa fa-search"></i>
</button>
<div class="row">
  <div class="col-sm-6 col-md-6" >
    <h4 class="text-center">Sent Messages</h4>
      <div class="alert-message alert-message-success" *ngFor='let message of sentMessages'>
          <h4>{{message.subject}}</h4>
          <button
            type="button"
            class="close text-danger"
            aria-label="Close"
            (click)="deleteMessage(message.date)"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <p>{{message.content}}</p>
      </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <h4 class="text-center">Received Messages</h4>
    <div class="alert-message alert-message-success" *ngFor='let message of recievedMessages'>
      <h4>{{message.subject}}</h4>
      <button
        type="button"
        class="close text-danger"
        aria-label="Close"
        (click)="deleteMessage(message.date)"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <p>{{message.content}}</p>
  </div>
  </div>
</div>

